.oi-photos-wrapper {margin-top: 24px;}
.oi-photos-topblock {}
.oi-photos-content {float: left;width: 300px;margin-right: 50px;}
.oi-photos-rightad {float: right;width: 300px;}
.oi-photos-topblock {}
.oi-photos-image {position: relative;}
.oi-photos-image img {width: 100%;max-width: 100%;border: 0 none;display: block;}
.oi-photos-title {font-size: 16px;color: #000;line-height: 24px;margin: 24px 0;position: relative;height: 50px;overflow: hidden;}
.oi-photos-title a {color: #000;}

.oi-photos-container {margin: 0px 0 0 0;}
.oi-photos-container .oi-photos-content {padding-top: 24px;}
.oi-photos-container .oi-photos-content:nth-child(3) {margin-right: 0;}
.oi-photos-latest {font-size: 16px;font-weight: normal;text-transform: capitalize;margin: 12px 0 24px 0px !important;}
.oi-photos-latest span {color: #fff;padding: 8px 20px;background: #ff003a;display: inline-block;line-height: 24px;font-weight: 600;}

.oi-photo-author_content {color: #353535;font-size: 15px;font-weight: normal;line-height: 26px;padding: 0px;margin-bottom: 24px;}


.oi-photos-album-wrapper {}


.oi-photos-left {float: left;width: 650px;}
.oi-photos-bredcrumb {color: #000;font-size: 14px;}
.oi-photos-bredcrumb div, .oi-photos-bredcrumb span {float: left;color: #000;}
.oi-photos-bredcrumb img {padding: 0 10px;vertical-align: middle;}
.oi-photos-heading {font-size: 34px;color: #000;font-weight: normal;line-height: 40px;margin: 24px 0;}
.oi-photos-author-details {margin: 0 0 24px 0;}
.oi-photos-author-by {float: left;font-size: 14px;color: #000;margin-right: 5px;}
.oi-photos-published-datetime {font-size: 14px;color: #999;float: left;}

.oi-photos-right {float: right;width: 300px;}
.oi-photos-ad {margin-bottom: 36px;}
.oi-photos-relatedlinks ul li {border-bottom: 1px solid #ebe9ea;margin-bottom: 24px;}
.oi-photos-relatedlinks-image {position: relative;}
.oi-photos-relatedlinks-image img {width: 100%;max-width: 100%;border: 0 none;display: block;}
.oi-photos-relatedlinks-title {font-size: 16px;color: #000;line-height: 24px;margin: 24px 0;position: relative;height: 50px;overflow: hidden;}
.oi-photos-relatedlinks-title a {color: #000;}

.next-album {margin: 10px 0 20px;text-align: center;}
.next-album span {
  background: #000;
  border-radius: 3px;
  padding: 5px 30px;
  margin: 0 auto;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-weight: normal;
}



.photos-main-content {
    clear: both;
    margin-bottom: 42px !important;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.photos-main-img {
    margin: 0;
    min-height: 200px;
    position: relative;
    background: #000;
}
.photos-main-count {
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
    padding: 5px 10px !important;
    font-size: 16px !important;
    background: rgba(0, 0, 0, 0.6) !important;
    color: #ffffff !important;
    border-radius: 3px !important;
    min-width: auto !important;
    text-align: center !important;
    height: auto !important;
    width: auto !important;
    line-height: inherit!important;
    left: inherit!important;
}
.photos-footer {position: relative;margin: 24px 0 0 0;}
.photos-main-socialbtn {
    background: transparent none repeat scroll 0 0;
    border-radius: 60px;
    padding: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 10px;
    z-index: 9;
}
.photos-main-socialbtn .opensocialpopup {
    display: inline-block;
    height: 32px !important;
    margin: 1px 0 0 8px !important;
    text-indent: -9999px !important;
    width: 32px !important;
    transition: right 0.8s ease-in-out 0s !important;
    border-radius: 50% !important;
    text-align: center !important;
    line-height: 32px !important;
    border: 0 !important;
    background: none!important;
}
.photos-main-socialbtn .opensocialpopup i {
    width: 16px;
    height: 16px;
    background: url(https://www.oneindia.com/scripts/photos/images/share-oi-icon-updated.svg) no-repeat center center;
    margin: auto;
    display: block;
    position: absolute;
    top: -10px;
    left: 15px;
}
.psstory_caption {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding: 12px 0px 0 0px;
    position: relative;
    min-height: 6px;
}
.teaser-text, .largedatain {
    font-size: 16px;
    color: #353535;
    font-weight: normal;
    line-height: 26px;text-align: left;
}
.photos-courtesy {
    font-size: 12px;
    text-align: left;
    color: #6c6360;
    margin: 0;
    padding: 0 0px 0 0px !important;
}
.photos-main-content {border-bottom: 1px solid #e6e6e6;padding-bottom: 42px;}